#cadastroTexto {
    background: linear-gradient(103.33deg, #0D5C63 0%, #59ADB5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cadastroArea {
    background: #EBEBEB;
}


#cadastroForm {
    background: url('../assets/img/cadastrodesign.png') no-repeat bottom center;
    background-size: contain;
}

#card-cadastro {
    background: linear-gradient(103.33deg, #0D5C63 0%, #59ADB5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}