.text-verde-claro {
    color: #44A1A0 !important;
}

.text-verde-claro1 {
    color: #247B7B !important;
}

.text-verde-escuro {
    color: #0D5C63 !important;
}

.text-verde-escuro1 {
    color: #013539 !important;
}

.text-cinza-claro {
    color: #EBEBEB;
}

nav ul li a {
    color: #706E6E !important;
    font-weight: 500 !important;
}

nav ul li a.active {
    font-weight: bold !important;
}

.verde-escuro {
    background-color: #0D5C63;
    border: 0;
}

.verde-escuro:hover {
    background-color: #013539;
}

.verde-claro {
    color: #78CDD7 !important;
    border: 1px solid #78CDD7;
}

.verde-claro:hover {
    color: white !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 4em;
}

.bg-cinza-escuro {
    background-color: #E0E0E0 !important;
}

.bg-cinza-escuro1 {
    background-color: #212121;
}

.bg-cinza-claro {
    background-color: #EBEBEB !important;
}

.bg-verde-escuro {
    background-color: #0D5C63;
}

.bg-verde-escuro1 {
    background-color: #013539;
}

.card-esquerda {
    background: #EBEBEB;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.nav-item.px-3 {
    list-style: none;
}

nav small {
    cursor: pointer;
    font-weight: 500 !important;
}

a {
    color: white;
    text-decoration: none;
}

.cantoneira {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    border: 7px solid #0D5C63;
    border-bottom: none;
    border-left: none;
    z-index: 10;
    border-radius: 4px;
    margin-right: -3px;
    margin-top: -3px;
}

#precos {
    background: url('../img/planos-esquerdo.png') left top no-repeat, url('../img/planos-direito.png') right center no-repeat;
}

#apresentacao {
    margin-top: -10px;
}


#footer span:hover {
    color: #ccc;
}

#footer span {
    cursor: pointer;
}

#precos .col-12.col-md-3:nth-of-type(-n+3) {
    border-right: 2px solid #0D5C63;
}

#footer .col-md-3:nth-of-type(-n+3) {
    border-right: 1px solid #343434;
    height: 160px;
}

@media (max-width: 480px) {
    .col-md-6.col-12 h1 {
        font-size: 2.7em;
    }

    #precos .col-12.col-md-3 {
        border-right: none;
    }
}